body{
    background-color: dodgerblue;
}
h1{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.movie1{
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background-color: rgb(0, 0, 40);
}
.movie2{
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
}
.movie3{
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background-color: rgb(177, 24, 170);
}
.inter{
    margin: 10px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
