body{
    background-color: black;
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}
.movie1{
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background-color: grey;
}
.movie2{
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background-color: grey;
}
.movie3{
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background-color: grey;
}
.inter{
    margin: 10px;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}
